* {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

:root {
  --white: #f7fcfe;
  --black: #2b2b2b;
  --blue: #1e50a2;
  --light-blue: #2792c3;
  --height: 0;
}

body {
  background-color: var(--white);
}

h1 {
  display: inline;
  font-size: 1.6rem;
  color: var(--white);
  margin-right: 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white);
}

header {
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: var(--light-blue);
  /*border-bottom: 4px solid var(--blue);*/
}

.outer-container {
  display: flex;
  justify-items: start;
  align-items: center;
}

.inner-container {
  display: flex;
}

.main-menu:nth-child(n+2):nth-last-child(n+2) {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.logout {
  margin-left: auto;
}

.link-button {
  display: block;
  color: var(--white);
  width: 5rem;
  text-align: center;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  background-color: var(--blue);
  border-radius: 4px;
}
