* {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

:root {
  --white: #f7fcfe;
  --black: #2b2b2b;
  --blue: #1e50a2;
  --light-blue: #c1e4e9;
  --height: 0;
}

body {
  background-color: var(--white);
}

h1 {
  margin: 0.5rem 0 0.5rem 0;
  font-size: 1.2rem;
  color: var(--white);
}

ul {
  list-style: inside;
  list-style-type: circle;
  padding-left: 0.5rem;
}

a {
  text-decoration: none;
  color: var(--blue);
}

@keyframes stretch {
  from {
    height: 0;
  }
  to {
    height: var(--height);
  }
}

#toggle {
  display: none;
}

.menu {
  position: absolute;
  top: 2.4rem;
  left: 0;
  visibility: hidden;
}

#toggle:checked ~ .menu {
  position: absolute;
  visibility: visible;
  width: 100vw;
  top: 2.4rem;
  left: 0;
  padding: 0.5rem 0 0.5rem 0;
  background-color: var(--light-blue);
  animation: stretch 1s linear forwards;
}

.toggle-label .line {
  display: block;
  position: relative;
  width: 1rem;
  height: 2px;
  background-color: var(--white);
  border-radius: 0.1rem;
}

.toggle-label .line:nth-of-type(1) {
  margin: 0.3rem auto 0 auto;
}

.toggle-label .line:nth-of-type(2) {
  margin: auto 0 auto 0;
}

.toggle-label .line:nth-of-type(3) {
  margin: 0 auto 0.3rem auto;
}

.toggle-label {
  display: flex;
  width: 1.6rem;
  height: 1.6rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1rem 0 0;
  background-color: #5383c3;
  border-radius: 0.1rem;
  cursor: pointer;
}

.container {
  display: flex;
  align-items: center;
  place-content: end space-between;
  background-color: var(--blue);
}
