:root {
  --white: #f7fcfe;
  --black: #2b2b2b;
  --blue: #1e50a2;
  --light-blue: #c1e4e9;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 1rem;
  background-color: var(--white);
  font-size: 18px;
}

h1 {
  margin: 0 0 0 1rem;
  font-size: 1.2rem;
  color: var(--black);
}

main {
  position: relative;
  z-index: 1;
}

ul {
  list-style: inside;
  list-style-type: circle;
  padding-left: 0.5rem;
}

a {
  text-decoration: none;
  color: var(--blue);
}

.container {
  display: flex;
  align-item: baseline;
  margin: 0 0 0.5rem 0;
}

#toggle {
  display: none;
}

.menu {
  display: none;
}

#toggle:checked ~ .menu {
  display: block;
  position: absolute;
  top: 2.6rem;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  background-color: var(--light-blue);
  border-radius: 0.1rem;
  box-shadow: 0.1rem 0.1rem 0.1rem var(--black);
  z-index: 3;
}

.toggle-label {
  display: flex;
  position: relative;
  width: 1.6rem;
  height: 1.6rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
  border-radius: 0.1rem;
  cursor: pointer;
  z-index: 3;
}

.toggle-label .line {
  display: block;
  position: relative;
  width: 1rem;
  height: 0.15rem;
  background-color: var(--white);
  border-radius: 0.1rem;
  z-index: 3;
}

.toggle-label .line:nth-of-type(1) {
  margin: 0.3rem auto 0 auto;
}

.toggle-label .line:nth-of-type(2) {
  margin: auto 0 auto 0;
}

.toggle-label .line:nth-of-type(3) {
  margin: 0 auto 0.3rem auto;
}

#toggle:checked ~ .toggle-label .line:nth-of-type(1) {
  transform: translateY(0.43rem) rotate(45deg);
}

#toggle:checked ~ .toggle-label .line:nth-of-type(2) {
  opacity: 0;
}

#toggle:checked ~ .toggle-label .line:nth-of-type(3) {
  transform: translateY(-0.43rem) rotate(-45deg);
}

#toggle:checked ~ .blur {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(0.4rem);
  z-index: 2;
}
